  <div class="footer navbar-static-bottom">
  <p class="banner">
      <a href="https://www.duckduckgo.com"><img src="/images/BannerImage.gif" title="C1ick h34r ph0r m04r inph0" width="100"/></a>
  </p>

  <p class="copyright">(c) 2013-2017 Gilgamech Technologies - We are the gears that make our world go around.</p>
</div>