<p class="banner">
    <a href="https://www.duckduckgo.com"><img src="/ARKData/Images/BannerImage.gif" title="C1ick h34r ph0r m04r inph0" /></a>
</p>

<p class="copyright">(c) 2013-2017 Gilgamech Technologies. Now enhanced with gaming technology.</p>
