</title>
<link rel='shortcut icon' href='//gilgamech.com/favicon.ico' type='image/x-icon'/ >
<meta http-equiv="refresh" content="60">
<link rel="stylesheet" type="text/css" charset="utf-8" href="http://gilgamech.com/gilgamech.css">
<link rel="stylesheet" type="text/css" charset="utf-8" href="http://gilgamech.com/ARKData/ARKData.css">
<link rel="stylesheet" type="text/css" charset="utf-8" href="http://gilgamech.com/ARKData/ARKDatam.css" media="handheld" />
<script  type="text/css" charset="utf-8" src="/ARKData/sorttable.js"></script>
</head>
<body>
<div class = "top">
<a href="/">Gilgamech Technologies</a>
</div>
<nav>
	<a href="https://gil-api.herokuapp.com/">Home</a> |
	<a href="/ARKData/index.html">ARKdata!</a> | 
	<a href="https://gil-api.herokuapp.com/fruitbot">Fruitbot!</a> 
</nav>