<div class="wrapper container">
  <div class = "img-rounded top">
    <a href="/">Gilgamech</a> <a href="/">Technologies</a>
  </div>
</div>
  <div class="navbar navbar-static-top navbar-inverse">
  <div class="wrapper container">
    <ul class="nav navbar-nav">
      <li class="hidden-sm hidden-xs"><a href="https://gil-api.herokuapp.com/fruitbot">Fruitbot!</a></li>
	  <li class="hidden-sm hidden-xs"><a href="https://gil-api.herokuapp.com/badpw">Bad Password</a></li>
	  <li class="hidden-sm hidden-xs"><a href="https://gil-api.herokuapp.com/chat">Chat</a></li>
	  <div class="dropdown">
        <p>Menu</p>
        <div class="dropdown-content">
            <p class="hidden-md hidden-lg"><a href="https://gil-api.herokuapp.com/fruitbot">Fruitbot!</a></p>
            <p class="hidden-md hidden-lg"><a href="https://gil-api.herokuapp.com/badpw">Bad Password</a></p>
            <p class="hidden-md hidden-lg"><a href="https://gil-api.herokuapp.com/chat">Chat</a></p>
            <p><a href="https://gil-api.herokuapp.com/coin">Coins</a></p>
            <p><a href="https://gil-api.herokuapp.com/jsonlint">JSON Lint</a></p>
            <p><a href="https://gil-api.herokuapp.com/git">Git</a></p>
            <p><a href="https://gil-api.herokuapp.com/meme">Meme Maker</a></p>
            <p><a href="https://gil-api.herokuapp.com/demo">Arkdata Dynamap</a></p>
            <p><a href="https://gil-api.herokuapp.com/Arkdata">Arkdata</a></p>
            <p><a href="https://gil-api.herokuapp.com/text2">text2</a></p>
            <p class="hidden-md hidden-lg"><a href="https://gil-api.herokuapp.com/login"> <%= loggedin %> </a></p>
		</div>
      </div>
	  <div class="dropdown hidden-md hidden-lg">
        <p>StackOverflow Links</p>
        <div class="dropdown-content">
			<p><a href="/coin">Coins</a></p>
		</div>
      </div>
    </ul>
    <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
	  <li class="navbar-right"><a href="https://gil-api.herokuapp.com/login"> <%= loggedin %></a></li>
	  <div class="dropdown navbar-right">
        <p>StackOverflow Links</p>
        <div class="dropdown-content">
			<p><a href="/coin">Coins</a></p>
		</div>
      </div>
    </ul>
  </div>
</div>
<!--
https://medium.com/@holtkam2/add-user-authentication-to-your-node-expressjs-application-using-bcrypt-81bb0f618ab3

-->
