<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"> Home</a>
      </li>
      <li>
	<a href="http://Gilgamech.com/ARKData/index.html"> ARKdata!</a> 
      </li>
      <li>
		<a href="/fruitbot">  Fruitbot!</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Projects In Flight <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/chat">Chat</a></li>
            <li><a href="/git">Git</a></li>
            <li class="divider"></li>
            <li><a href="/Arkdata">Arkdata</a></li>
            <li><a href="/demo">Demo</a></li>
            <li><a href="/text2">text2</a></li>
            <li><a href="/jsonlint">jsonlint</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
	  <li class="navbar-right">
    <a href="/login">Login!</a>
      </li>
      <li>
		<form action="/login2" method="post">
			<label>GILTech User:</label>
			<input type="text" name="username"/>
			<label>Password:</label>
			<input type="password" name="password"/>
			<input type="submit" value="Log In"/>
		</form>
      </li>
    </ul>
  </div>
</nav>
