<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
	  <div class="dropdown">
        <p>Projects In Flight</p>
        <div class="dropdown-content">
            <p><a href="/fruitbot">Fruitbot!</a></p>
            <p><a href="/badpw">Bad Password</a></p>
			<p><a href="/jsonlint">JSON Lint</a></p>
			<p><a href="/git">Git</a></p>
            <p><a href="/chat">Chat</a></p>
            <p><a href="/meme">Meme Maker</a></p>
            <p><a href="/demo">Arkdata Dynamap</a></p>
            <p><a href="/Arkdata">Arkdata</a></p>
            <p><a href="/text2">text2</a></p>
		</div>
      </div>
    </ul>
    <ul class="nav navbar-nav navbar-right">
	  <li class="navbar-right">
    <a href="/login">Login!</a>
      </li>
      <li>
      </li>
    </ul>
  </div>
</nav>
