<div class = "top">
<a href="/">Gilgamech</a> <a href="/">Technologies</a>
</div>
<nav>
    <a href="/">Home</a> |
	<a href="/ARKData/index.html">ARKdata!</a> | 
	<a href="/robot-fruit-hunt/Index.html">Fruitbot!</a> 
	<!-- | 
	<a href="minecraft.html">Minecraft!</a> | 
    <a href="game.html">Game Page (under development)</a> | 
	<a href="video.html">Video (under development)</a> |
	<a href="clock.html">Concept clock (under development)</a> | -->
</nav>
