$gilgabanner
</title>
<link rel='shortcut icon' href='//gilgamech.com/favicon.ico' type='image/x-icon'/ >
<meta http-equiv="refresh" content="60">
<link rel="stylesheet" type="text/css" charset="utf-8" href="http://gilgamech.com/gilgamech.css">
<link rel="stylesheet" type="text/css" charset="utf-8" href="http://gilgamech.com/ARKData/ARKData.css">
<link rel="stylesheet" type="text/css" charset="utf-8" href="http://gilgamech.com/ARKData/ARKDatam.css" media="handheld" />
<script  type="text/css" charset="utf-8" src="/ARKData/sorttable.js"></script>
</head>
<body>
<div class = "top">
<a href="/">Gilgamech Technologies</a>
</div>
<nav>
	<a href="https://gil-api.herokuapp.com/">Home</a> |
	<a href="/ARKData/index.html">ARKdata!</a> | 
	<a href="https://gil-api.herokuapp.com/fruitbot">Fruitbot!</a> 
</nav>

$subbannersubpage
<h4></h4>
<h4>Servers currently being tracked:</h4>
<div class="content">
<H1>Welcome to ARKData</h1>
<h4>Gil's player and tribe tracker</H4>


$indexsubpage
<h4></h4>
<h4>Servers currently being tracked:</h4>


$Serversubpage
<h4>Page auto-refreshes every minute.</h4>
<h4>Report also generates every minute. Latest report: </h4>
<H2>


$MapNamePart
</H2>
<h5>Map Name:</h5>
<H2>


$ServerNamepart
</H2>
<h5>Latest report date:</h5>
<table>


$middlepartone
</table>

<h5>Newest data payload:</h5>
<table>


$Serverone
<H2><a href="/ARKData/
 #"

$Servertwo
.html">
 #"

$Serverthree
</a></H2>


$endpart
<h5></h5>
<table>

#<h2>Page still under development.</h2>

$middlepartreporttime
</table>
<h2>Current ingame time is about: 



$middlepartservertimenoon
</h2>
<h4>Report took 



$middlepartservertimenight
 seconds to generate.</h4>
<h3>


$middlepartreport
 minutes until The Midday Sound.<br>


$middlepartservertimemorning
 minutes until nighttime.<br>


$middlepartttm
 minutes until tomorrow morning.</h3> 
<h5>28 ingame minutes equals 1 minute.<br>
1 ingame day is 52 minutes long.<br>
This makes the ingame day 1456 minutes <br>
instead of Earth's 1440 minute day.</h5>


$middlepart2
<h4>Tribe data gathered lovingly by humans from ingame chat.</h4>

<h3>Count of online players in each tribe.</h3>

$middlepartplayercount
<h3> Player count: 



$middlepart5m
</h3>
<h4>"PlayerName ???" means never seen on ingame chat. <br>
"#N\A" means No Tribe or Unknown.</h4>
</div>

<div class="content">
<h2>!Seen</h2>
<h3>Players seen in the past 24 hours, who are not currently playing:</h3>
<table class="sortable">


$middlepart24h
</table>
<h3> Players seen: 


$playerserver 
</h3>


$tailpart
<br>
<br>
<br>
</div>
<h4>Website errors? Bad data? Advertising questions? <a href="mailto:ARKDataproject@gilgamech.com">Email me!</a><br>
Copyright 2016 Gilgamech Technologies.</h4>
<h6></h6>
<br>
<p class="banner">
	<a href="https://duckduckgo.com/"><img src="/Images/BannerImage.gif" title="C1ick h34r ph0r m04r inph0" /></a>
</p>
</body></html>
