<!DOCTYPE html>
<html lang="en">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" href="./public/favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<script src="/js/Gilgamech.js"></script>
<body>
</body>
</html>


<!-- 
RGB:
https://duckduckgo.com/?q=javascript+convert+to+he&atb=v49-6&ia=qa
https://stackoverflow.com/questions/5623838/rgb-to-hex-and-hex-to-rgb#5624139
https://stackoverflow.com/questions/42521420/change-div-bgcolor-onkeypress
https://www.w3schools.com/jsref/prop_style_backgroundcolor.asp
https://www.easycalculation.com/colorconverter/rgb-coder.php

JSONLint: 
<a href="https://stackoverflow.com/questions/26320525/prettify-json-data-in-textarea-input#26324037">Stack Overflow - prettify json data in textarea input</a><br>
<a href="https://stackoverflow.com/questions/7218061/javascript-copy-text-to-clipboard#7218068">Stack Overflow - copy textarea to clipboard</a>

Draggable SQuares: 
https://superdevresources.com/draggable-shapes-canvas-createjs/
https://www.createjs.com/
https://codepen.io/anon/pen/rpMmvr

Login: 
https://stackoverflow.com/questions/491914/pure-javascript-code-for-http-basic-authentication
http://docs.sequelizejs.com/manual/installation/getting-started.html
https://stackoverflow.com/questions/32212945/sequelize-findone-success-is-undefined#32213208
https://stackoverflow.com/questions/29026650/how-to-render-common-variables-from-app-js-to-all-routes-in-express
https://stackoverflow.com/questions/33112299/how-to-delete-cookie-on-logout-in-express-passport-js
https://github.com/expressjs/cookie-parser#cookieparsersignedcookiestr-secret
http://expressjs-book.com/index.html%3Fp=128.html
https://v4-alpha.getbootstrap.com/components/buttons/#sizes

Meme
<a href="https://stackoverflow.com/questions/1421082/how-to-add-a-border-on-html5-canvas-text#1421598">How to add a border on html5 canvas text?</a>

Coin:
<a href="https://stackoverflow.com/questions/3393025/how-do-you-implement-a-fixed-left-sidebar-and-fluid-right-content-in-css#3393037">How do you implement a fixed left sidebar and fluid right content in CSS</a>
https://www.w3schools.com/Bootstrap/bootstrap_forms_inputs.asp
https://www.w3schools.com/bootstrap/bootstrap_navbar.asp
https://stackoverflow.com/questions/16517718/bootstrap-number-validation
https://stackoverflow.com/questions/3368546/what-input-field-type-forces-the-number-pad-mobile-keyboard-to-come-up-when-focu
https://html.com/input-type-radio/
https://stackoverflow.com/questions/12084121/correct-way-to-create-rounded-corners-in-twitter-bootstrap
https://getbootstrap.com/docs/3.3/css/
https://v4-alpha.getbootstrap.com/components/buttons/
http://kimbryant.net/on-bootstraps-grid-using-display-inline-block-instead-of-floats/
https://bytes.com/topic/javascript/answers/441839-document-onload-getelementbyid-dont-cooperate
https://stackoverflow.com/questions/9476617/how-to-set-radio-button-status-with-javascript
https://stackoverflow.com/questions/5303899/change-onclick-action-with-a-javascript-function
https://stackoverflow.com/questions/4967289/dynamically-adding-removing-a-div-to-html
https://stackoverflow.com/questions/18030132/html-css-dropdown-menu-overflow
https://duckduckgo.com/?q=document+appendchild+body&atb=v49-6&ia=qa
http://www.scriptol.com/html5/combobox.php
http://www.dhtmlgoodies.com/scripts/form_widget_editable_select/form_widget_editable_select.html

Load div as file:
https://thiscouldbebetter.wordpress.com/2012/12/18/loading-editing-and-saving-a-text-file-in-html5-using-javascrip/

Applies color scheme to text in div.
//  https://stackoverflow.com/questions/23737776/how-to-color-specific-word-in-a-container-using-css

// Load JSON
// https://laracasts.com/discuss/channels/general-discussion/load-json-file-from-javascript

-->

