<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<!--
.wrapper {
}
.sidebar {
}
.amount {
	background-color:#3CBE3C;
}
.contentRows {
    border:1px solid #333;
}
.contentItems {
}
.contentTitles {
	background-color:#337AB7;
	color:#fff;
}
.contentLabels {
	background-color:#090909;
	color:#fff;
}
.dataArea {
	background-color:#fff;
	color:#000;
}
.scrollToWindow {
	height: 75vh;
    overflow: scroll;
}
-->
