<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<!--

html,body {
	  width: auto !important;
  overflow-x: hidden !important;
}
html {
}
body {
	background-color:#bbb;
}

.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .navbar {
	color: #A3C7B2;
	margin:0;
	background-color:#000;
	}
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

.dropdown {
    position: relative;
    display: inline-block;
	color: #9d9d9d;
	padding-top: 15px;
	padding-left: 15px;
}

.dropdown-content {
	color: #9d9d9d;
	background-color: #010101;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
div.dropdown-content a:link{
	text-decoration:none;
	color:#9d9d9d;
}
div.dropdown-content a:visited{
	text-decoration:none;
	color:#7f7f7f;
}

.dataArea {
	background-color:#fff;
}

canvas {
	display: block;
	margin: 0px auto;
	border: 1px solid black;
	
}
video{
	display: block;
	margin: 0px auto;
	border: 1px solid black;
	
}
pre {
	text-align:left;
}

p.menu {
 	color: #7f7f7f;
	margin:0;
	padding:0;
	border:0;
	text-align:left;
	background-color:#000;
 	position: fixed;
    margin-top: 3.8em; 
	width: 100%;
	}
nav {
	color: #A3C7B2;
	margin:0;
	padding:0;
	border:0;
	text-align:left;
	background-color:#000;
 	position: fixed;
    margin-top: 3em;
	width: 100%;
	}
div.content {
	padding-top: 3em; /* top 5px plus height 30px */
	/*padding-left: 3em; /* top 5px plus height 30px */
	/* top | right | bottom | left */
	margin: 2px 1em 0 5px;
	}
p.game {
	text-align:center;
	background-color:A3C7B2;
	
}

p.copyright {
	font-weight:bold;
	text-align:center;
}
div.game {
	text-align:center;

}

div.top {
	top:0;
	margin:0;
	padding:0;
	font-variant: small-caps;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align:left;
	position: fixed;
	width: 100%;
}
div.top a:link{
	text-decoration:none;
	color:#000;
}
div.top a:visited {
	color:#000;
}
.banner {
	width: 100%;
	text-align: center;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}


.contentRows {
    border:1px solid #333;
}
.contentItems {
    font-size: initial;
	background-color:#fff;
}
.contentTitles {
	text-align: center;
	font-size: xx-large;
	background-color:#337AB7;
	color:#fff;
}
.contentLabels {
	background-color:#090909;
	color:#fff;
}

.dataArea {
	background-color:#fff;
	color:#000;
}
.colorRow {
	text-align: center;
    font-size: x-large;
	color:#fff;
	border:white;
}
.scrollToWindow {
	height: 75vh;
    font-size: small;
    overflow-x: hidden;
    overflow-y: auto;
}
.jsonArea {
	height: 70px;
    font-size: small;
    overflow-x: hidden;
    overflow-y: auto;
	word-wrap: break-word;
}
.numberRow {
	background-color:#3CBE3C;
}
.htmlColorRow {
	background-color:#fff;
}
.redColorRow {
	background-color:#833;
}
.greenColorRow {
	background-color:#383;
}
.blueColorRow {
	background-color:#338;
}
/* Let's get this party started 
https://css-tricks.com/custom-scrollbars-in-webkit */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(200,200,200,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

-->