<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<!--
/* mobile styles */
@media handheld {

	html, body {
		font: 12px/15px sans-serif;
		background: #fff;
		padding: 3px;
		color: #000;
		margin: 0;
		}
	#sidebar, #footer {
		display: none;
		}
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		text-align: center;
		}
	.banner {
		width: auto;
		max-height: 100%;
		}
	.resizedTextbox {
		width: 100%;
		height: 20px;
		padding: 1px;
		}
	a:link, a:visited {
		text-decoration: underline;
		color: #0000CC;
		}
	a:hover, a:active {
		text-decoration: underline;
		color: #660066;
		}

    .resizedTextbox {
      width: 500px; 
	  height: 20px; 
	  padding: 1px
	  }

  .div_textarea {
      width: 100%; 
      height: 500px; 
      padding: 1px; 
      border: 1px solid black;
      background-color: #DDDDDD;
      overflow: scroll;
      overflow-x: hidden;
      overflow-y: scroll;
      text-align: left;
  }
}
/* iPhone-specific styles */
@media only screen and (max-device-width: 480px) { 

	html {
		-webkit-text-size-adjust: none;
		}

}
-->