<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<!--

.wrapper {
}
.sidebar {
}
.contentRows {
    border:1px solid #333;
}
.contentTitles {
	text-align: center;
}
.colorRow {
	text-align: center;
    font-size: x-large;
	color:#fff;
}
.htmlColorRow {
	background-color:#fff;
}
.redColorRow {
	background-color:#833;
}
.greenColorRow {
	background-color:#383;
}
.blueColorRow {
	background-color:#338;
}

-->
