<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>


<title>
Asgard Awakens-Ragnarok (Cluster-x5,XP&H,x10T) - (v272.3)
</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<meta http-equiv="refresh" content="60">
<link rel="stylesheet" type="text/css" charset="utf-8" href="http://gilgamech.com/ARKData/ARKData.css">
<link rel="stylesheet" type="text/css" charset="utf-8" href="http://gilgamech.com/ARKData/ARKDatam.css" media="handheld" />
<script  type="text/css" charset="utf-8" src="/ARKData/sorttable.js"></script>
</head>
<body>
  <% include ../partials/nav.ejs %>
  
<h4></h4>
<h4>Servers currently being tracked:</h4>
<div class="content">
<H1>Welcome to ARKData</h1>
<h4>Gil's player and tribe tracker</H4>
<h4></h4>
<h4>Servers currently being tracked:</h4>
<table>
<colgroup><col/><col/><col/><col/></colgroup>
<tr><th>PlayerName</th><th>ServerName</th><th>Firstseen</th><th>Timeseen</th></tr>
<tr><td>dopey.tim</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/23/2017 13:25:45</td><td>10/24/2017 22:46:34</td></tr>
</table>
<h4></h4>
<h4>Servers currently being tracked:</h4>
<table>
<colgroup><col/><col/><col/><col/></colgroup>
<tr><th>PlayerName</th><th>ServerName</th><th>Firstseen</th><th>Timeseen</th></tr>
<tr><td>MFrider88</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/23/2017 21:41:57</td><td>10/23/2017 23:02:46</td></tr>
<tr><td>MacNCheese3</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>9/1/2017 14:42:06</td><td>10/24/2017 15:21:50</td></tr>
<tr><td>Night King</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>8/29/2017 18:16:34</td><td>10/24/2017 3:16:30</td></tr>
<tr><td>nahteh</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/24/2017 20:20:28</td><td>10/24/2017 21:07:56</td></tr>
<tr><td>Kanye</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>6/20/2017 8:11:59</td><td>10/23/2017 23:16:33</td></tr>
<tr><td>HowlinWolf</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>7/25/2017 15:57:27</td><td>10/24/2017 14:06:27</td></tr>
<tr><td>Ma50n</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/23/2017 16:53:20</td><td>10/24/2017 8:28:56</td></tr>
<tr><td>lalo_arevalo8</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/24/2017 12:08:26</td><td>10/24/2017 12:10:31</td></tr>
<tr><td>OGGrouch</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/23/2017 15:43:44</td><td>10/23/2017 23:05:57</td></tr>
<tr><td>Phoenix</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>4/12/2017 19:43:05</td><td>10/24/2017 9:10:53</td></tr>
<tr><td>PainTrainXD</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/23/2017 19:14:22</td><td>10/24/2017 16:10:26</td></tr>
<tr><td>TheGhostHorse</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>8/9/2017 6:44:11</td><td>10/24/2017 7:15:25</td></tr>
<tr><td>SpaghettiDrk</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/23/2017 21:09:41</td><td>10/24/2017 0:56:55</td></tr>
<tr><td>ornet</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>5/8/2017 12:12:09</td><td>10/24/2017 17:16:49</td></tr>
<tr><td>opey.tim</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/23/2017 15:35:33</td><td>10/24/2017 16:56:04</td></tr>
<tr><td>paghettiDrk</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/23/2017 21:10:48</td><td>10/23/2017 23:16:32</td></tr>
<tr><td>owlinWolf</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>7/25/2017 16:50:35</td><td>10/24/2017 0:03:53</td></tr>
<tr><td>HorNet</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>4/5/2017 7:25:38</td><td>10/24/2017 17:27:11</td></tr>
<tr><td>cyn</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>4/14/2017 5:32:13</td><td>10/24/2017 17:12:39</td></tr>
<tr><td>Chadwick</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/24/2017 19:56:49</td><td>10/24/2017 19:58:53</td></tr>
<tr><td>deravenous</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/24/2017 19:05:23</td><td>10/24/2017 19:08:31</td></tr>
<tr><td>deathwalker629</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/23/2017 13:25:45</td><td>10/23/2017 23:55:31</td></tr>
<tr><td>acNCheese3</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/24/2017 15:33:12</td><td>10/24/2017 18:19:54</td></tr>
<tr><td>123</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>4/4/2017 14:35:24</td><td>10/23/2017 23:52:23</td></tr>
<tr><td>anye</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/23/2017 16:06:29</td><td>10/23/2017 23:45:05</td></tr>
<tr><td>ahteh</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/24/2017 20:33:53</td><td>10/24/2017 20:39:02</td></tr>
<tr><td>dopey.tim</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/23/2017 13:25:45</td><td>10/24/2017 13:25:30</td></tr>
<tr><td>GGrouch</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/23/2017 17:06:58</td><td>10/23/2017 23:12:17</td></tr>
<tr><td>GetSnuffed</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>7/21/2017 16:34:46</td><td>10/24/2017 7:23:36</td></tr>
<tr><td>hoenix</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>4/13/2017 16:24:58</td><td>10/24/2017 9:28:16</td></tr>
<tr><td>heGhostHorse</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>8/9/2017 7:35:54</td><td>10/24/2017 5:16:37</td></tr>
<tr><td>eravenous</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/24/2017 19:09:33</td><td>10/24/2017 19:09:33</td></tr>
<tr><td>eathwalker629</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/23/2017 19:54:59</td><td>10/23/2017 23:52:23</td></tr>
<tr><td>GenMaxiu</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>6/10/2017 10:09:07</td><td>10/24/2017 0:10:12</td></tr>
<tr><td>FMFrider88</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/23/2017 21:23:43</td><td>10/23/2017 23:39:49</td></tr>
</table>
<h5></h5>
<table>
<br>
<br>
<br>
</div>
<h4>Website errors? Bad data? Advertising questions? <a href="mailto:ARKDataproject@gilgamech.com">Email me!</a><br>

  <% include ../partials/footer.ejs %>
</body>
</html>
