<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>


<title>
Asgard Awakens-Ragnarok (Cluster-x5,XP&H,x10T) - (v272.3)
</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<meta http-equiv="refresh" content="60">
<link rel="stylesheet" type="text/css" charset="utf-8" href="http://gilgamech.com/ARKData/ARKData.css">
<link rel="stylesheet" type="text/css" charset="utf-8" href="http://gilgamech.com/ARKData/ARKDatam.css" media="handheld" />
<script  type="text/css" charset="utf-8" src="/ARKData/sorttable.js"></script>
</head>
<body>
  <% include ../partials/nav.ejs %>
  
<h4></h4>
<h4>Servers currently being tracked:</h4>
<div class="content">
<H1>Welcome to ARKData</h1>
<h4>Gil's player and tribe tracker</H4>
<h4></h4>
<h4>Servers currently being tracked:</h4>
<table>
<colgroup><col/><col/><col/><col/></colgroup>
<tr><th>PlayerName</th><th>ServerName</th><th>Firstseen</th><th>Timeseen</th></tr>
<tr><td>dopey.tim</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/23/2017 13:25:45</td><td>10/24/2017 22:46:34</td></tr>
</table>
<h4></h4>
<textarea id="txtJob" cols="40" rows="5" value="software engineer" class="img-rounded"></textarea>
<h4>Servers currently being tracked:</h4>
<table>
<colgroup><col/><col/><col/><col/></colgroup>
<tr><th>PlayerName</th><th>ServerName</th><th>Firstseen</th><th>Timeseen</th></tr>
<tr><td>MFrider88</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/23/2017 21:41:57</td><td>10/23/2017 23:02:46</td></tr>
<tr><td>MacNCheese3</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>9/1/2017 14:42:06</td><td>10/24/2017 15:21:50</td></tr>
<tr><td>GenMaxiu</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>6/10/2017 10:09:07</td><td>10/24/2017 0:10:12</td></tr>
<tr><td>FMFrider88</td><td>Asgard Awakens-Ragnarok (Cluster-x5,XP&amp;H,x10T) - (v272.3)</td><td>10/23/2017 21:23:43</td><td>10/23/2017 23:39:49</td></tr>
</table>
<h5></h5>
<table>
<br>
<br>
<br>
</div>
<h4>Website errors? Bad data? Advertising questions? <a href="mailto:ARKDataproject@gilgamech.com">Email me!</a><br>

  <% include ../partials/footer.ejs %>
</body>
</html>
