<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <script src="/js/badpw.js" Content-Type="text/javascript" charset="UTF-8"></script>
<div id="wrapper" class="container img-rounded">

  <div id="spacer" class="img-rounded col-md-3 hidden-xs"></div>

  <div id="content" class="img-rounded col-md-6 col-xs-12">
   <div id="coinArea" class="">
    <div id="contentLabel" class="img-rounded row contentTitles">Bad Password</div>
	
  <div id="htmlColorRow" class="row colorRow">
	<input type="text" id="getBadPWInput" name="getBadPWInput" class="resizedTextbox img-rounded" value="">
  </div>

  <div id="colorRow" class="row colorRow">
	<button type="button" class="btn btn-primary" onclick="updategetBadPWInputForm()">Get Bad Password</button>
  </div>

   </div><!-- end coinArea -->
</div><!-- end cointent -->
</div><!-- end wrapper -->

  <% include ../partials/footer.ejs %>
</body>
</html>
