<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <script src="/js/badpw.js" Content-Type="text/javascript" charset="UTF-8"></script>
  <table>
	<tr>
		<td colspan="3"><div id="getBadPWItem"class = "img-rounded"> Bad Password:</div></td>
	</tr>
	<tr>
		<td colspan="2"><input type="text" id="getBadPWInput" name="getBadPWInput" class="resizedTextbox img-rounded" value=""></td>
		<td><button type="button" class="btn btn-primary" onclick="updategetBadPWInputForm()">Get Bad Password</button></td>
	</tr>
  </table>


  <% include ../partials/footer.ejs %>
</body>
</html>
