<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
<script src="/js/chat.js" Content-Type="text/javascript" charset="UTF-8"></script>
  <br>
  <br>
  Chat Room: <input type = "text" id = "chatRoom" value="General"> <br>
  
<div id="chatRoomName">All</div> Chat<br>
  <textarea id="chatMainBox" cols="100" rows="25" value="Chat goes here.">Chat goes here.</textarea> <br>
</div>
    <form action="/chatpost" method="post">
      <div>
        <input type="text" name="user" value="Username"/>
        <br/>
      </div>
      <div>
        <label>Password:</label>
		<input type = "text" name = "message" value="Hello World!"> 
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>


  <% include ../partials/footer.ejs %>
</body>
</html>
