<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
<script src="/js/chat.js" Content-Type="text/javascript" charset="UTF-8"></script>
  <br>
  <br>
  User Name: <input type = "text" id = "chatUser"> <br>
  Chat Room: <input type = "text" id = "chatRoom" value="General"> <br>
  Message: <input type = "text" id = "chatMessage" value="Hello World!"> 
<input id="chatSendButton" type="button" value="send" onclick="updateChat();" /> <br>
  
<div id="chatRoomName">All</div> Chat<br>
<textarea id="chatMainBox" cols="50" rows="100" value="Chat goes here.">Chat goes here.</textarea> <br>


  <% include ../partials/footer.ejs %>
</body>
</html>
