<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <% include ../partials/header.ejs %>
<link rel="stylesheet" type="text/css" href="/stylesheets/coin.css">
</head>

<body>
  <% include ../partials/nav.ejs %>
<script src="/js/coin.js" Content-Type="text/javascript" charset="UTF-8"></script>

<div id="wrapper" class="container img-rounded">
  <div class="row">
  <div id="sidebar" class="sidebar col-md-2 hidden-sm hidden-xs contentRows img-rounded contentTitles">
        <div id="consoleLogLabel" class="">Coinsole Log:</div>
      <div id="coinMainBox" class="contentRows dataArea scrollToWindow img-rounded">Javascript is disabled.</div>
     <div id="spacer"><br></div>
    </div> <!-- end sidebar -->
		
  <div id="content" class="img-rounded col-md-10 col-xs-10">
 
   <div id="coinArea" class="img-rounded col-md-12 col-xs-12 contentRows dataArea row">

  <div id="titleRow" class="row contentTitles">
    <div id="contentLabel" class="col-md-10 col-xs-10 contentTitles">Cointent</div>
		<div id="button" class="button col-md-2 col-xs-2">
		<button type="button" class="btn btn-success btn-sm" onclick="refreshCharts();">Refresh</button>
	</div> <!-- end button -->
	</div> <!-- end row -->
	
  <div id="titleRow" class="row contentLabels">
    <div id="coinLabel" class=" col-md-2 col-xs-2">Coin:</div>
    <div id="valueLabel" class=" col-md-2 col-xs-2">Value:</div>
    <div id="medianLabel" class=" col-md-2 col-xs-2">My Coins:</div>
   <div id="botAmountLabel" class=" col-md-2 col-xs-2">MyBot:</div>
    <div id="botActionLabel" class=" col-md-2 col-xs-2">Fruitbot:</div>
    <div id="botPredictionLabel" class=" col-md-2 col-xs-2">SimpleBot:</div>
  </div>

  <div id="btcContentRow" class="row ">
	<div id="btcLabel" class="contentItems col-md-2 col-xs-2">BTC</div>
    <input type="number" id="btcAmount" class="col-md-2 col-xs-2 colorRow numberRow contentItems col-md-12 col-xs-12" readonly value="0"></input>
	<div id="btcMedian" class="contentItems col-md-2 col-xs-2">0</div>
	<div id="btcBotAmount" class="contentItems col-md-2 col-xs-2">0</div>
	<div id="btcBotAction" class="contentItems col-md-2 col-xs-2">0</div>
	<div id="btcBotPrediction" class="contentItems col-md-2 col-xs-2">0</div>
  </div>

  <div id="ltcContentRow" class="row ">
	<div id="ltcLabel" class="contentItems col-md-2 col-xs-2">LTC</div>
    <input type="number" id="ltcAmount" class="col-md-2 col-xs-2 colorRow numberRow contentItems col-md-12 col-xs-12" readonly value="0"></input>
	<div id="ltcMedian" class="contentItems col-md-2 col-xs-2">0</div>
	<div id="ltcBotAmount" class="contentItems col-md-2 col-xs-2">0</div>
	<div id="ltcBotAction" class="contentItems col-md-2 col-xs-2">0</div>
	<div id="ltcBotPrediction" class="contentItems col-md-2 col-xs-2">0</div>
  </div>

  <div id="ethContentRow" class="row ">
	<div id="ethLabel" class="contentItems col-md-2 col-xs-2">ETH</div>
    <input type="number" id="ethAmount" class="col-md-2 col-xs-2 colorRow numberRow contentItems col-md-12 col-xs-12" readonly value="0"></input>
	<div id="ethMedian" class="contentItems col-md-2 col-xs-2">0</div>
	<div id="ethBotAmount" class="contentItems col-md-2 col-xs-2">0</div>
	<div id="ethBotAction" class="contentItems col-md-2 col-xs-2">0</div>
	<div id="ethBotPrediction" class="contentItems col-md-2 col-xs-2">0</div>
    </div> <!-- end ethContentRow -->

  <div id="fbcContentRow" class="row ">
	<div id="fbcLabel" class="contentItems col-md-2 col-xs-2">FBC</div>
    <input type="number" id="fbcAmount" class="col-md-2 col-xs-2 colorRow numberRow contentItems col-md-12 col-xs-12" readonly value="0"></input>
	<div id="fbcMedian" class="contentItems col-md-2 col-xs-2">0</div>
	<div id="fbcBotAmount" class="contentItems col-md-2 col-xs-2">0</div>
	<div id="fbcBotAction" class="contentItems col-md-2 col-xs-2">0</div>
	<div id="fbcBotPrediction" class="contentItems col-md-2 col-xs-2">0</div>
    </div> <!-- end row	 -->
   </div><!-- end coinArea -->
<div id="manualButtonRow" class="row">
   </div><!-- end coinArea -->
		<div id="button" class="button col-md-2 col-xs-2">
   </div><!-- end coinArea -->
	<div id="manualButtonRow" class="row">
		<br>
	</div> <!-- end row -->

   
   <div id="coinArea" class="img-rounded col-md-12 col-xs-12 contentRows dataArea row">
  <div id="titleRow" class="row contentTitles">
    <div id="myBotLabel" class="col-md-10 col-xs-10" contenteditable="true">MyBot</div>
		<div id="button" class="button col-md-2 col-xs-2">
		<button type="button" class="btn btn-warning btn-sm" onclick="toggleSettingsDisplay('manualButtonRow2');">Bot Settings</button>
	</div> <!-- end button -->
	</div> <!-- end row -->

  <div id="titleRow" class="row contentLabels">
    <div id="coinLabel" class=" col-md-2 col-xs-2">Coin:</div>
    <div id="valueLabel" class=" col-md-2 col-xs-2">Price:</div>
    <div id="medianLabel" class=" col-md-2 col-xs-2">Manual Buy:</div>
   <div id="botAmountLabel" class=" col-md-2 col-xs-2">Bot Amount:</div>
    <div id="botActionLabel" class=" col-md-2 col-xs-2">Bot action:</div>
    <div id="botPredictionLabel" class=" col-md-2 col-xs-2">Bot pred:</div>
  </div>

  <div id="btcContentRow" class="row ">
	<div id="myBotBtcLabel" class="contentItems col-md-2 col-xs-2">BTC</div>
	<div id="myBotBtcAmount" class="contentItems amount col-md-2 col-xs-2">0</div>
	<div id="myBotBtcMedian" class="contentItems col-md-2 col-xs-2">
		<input id = "manualBuySellBtc" type="number" class="img-rounded col-md-4 col-xs-4" value=1>
		<button type="button" class="btn btn-primary btn-xs" onclick="manualTransaction($btc,'BUY','myBotBtcAmount')">Buy!</button>
		<button type="button" class="btn btn-success btn-xs" onclick="manualTransaction($btc,'SELL','myBotBtcAmount')">Sell!</button>
	</div>
	<div id="myBotBtcBotAmount" class="contentItems col-md-2 col-xs-2">0</div>
	<div id="myBotBtcBotAction" class="contentItems col-md-2 col-xs-2">0</div>
	<div id="myBotBtcBotPrediction" class="contentItems col-md-2 col-xs-2">0</div>
  </div>

  <div id="ltcContentRow" class="row ">
	<div id="ltcLabel" class="contentItems col-md-2 col-xs-2">LTC</div>
	<div id="myBotLtcAmount" class="contentItems amount col-md-2 col-xs-2">0</div>
	<div id="ltcMedian" class="contentItems col-md-2 col-xs-2">
		<input id = "manualBuySellLtc" type="number" class="img-rounded col-md-4 col-xs-4" value=1>
		<button type="button" class="btn btn-primary btn-xs" onclick="manualTransaction($ltc,'BUY','myBotLtcAmount')">Buy!</button>
		<button type="button" class="btn btn-success btn-xs" onclick="manualTransaction($ltc,'SELL','myBotLtcAmount')">Sell!</button>
	</div>
	<div id="ltcBotAmount" class="contentItems col-md-2 col-xs-2">0</div>
	<div id="ltcBotAction" class="contentItems col-md-2 col-xs-2">0</div>
	<div id="ltcBotPrediction" class="contentItems col-md-2 col-xs-2">0</div>
  </div>

  <div id="ethContentRow" class="row ">
	<div id="ethLabel" class="contentItems col-md-2 col-xs-2">ETH</div>
	<div id="myBotEthAmount" class="contentItems amount col-md-2 col-xs-2">0</div>
	<div id="ethMedian" class="contentItems col-md-2 col-xs-2">
		<input id = "manualBuySellLtc" type="number" class="img-rounded col-md-4 col-xs-4" value=1>
		<button type="button" class="btn btn-primary btn-xs" onclick="manualTransaction($eth,'BUY','myBotEthAmount')">Buy!</button>
		<button type="button" class="btn btn-success btn-xs" onclick="manualTransaction($ltc,'SELL','myBotEthAmount')">Sell!</button>
	</div>
	<div id="ethBotAmount" class="contentItems col-md-2 col-xs-2">0</div>
	<div id="ethBotAction" class="contentItems col-md-2 col-xs-2">0</div>
	<div id="ethBotPrediction" class="contentItems col-md-2 col-xs-2">0</div>
    </div> <!-- end ethContentRow -->

  <div id="fbcContentRow" class="row ">
	<div id="fbcLabel" class="contentItems col-md-2 col-xs-2">FBC</div>
	<div id="myBotFbcAmount" class="contentItems amount col-md-2 col-xs-2">0</div>
	<div id="fbcMedian" class="contentItems col-md-2 col-xs-2">
		<input id = "manualBuySellLtc" type="number" class="img-rounded col-md-4 col-xs-4" value=1>
		<button type="button" class="btn btn-primary btn-xs" onclick="manualTransaction($fbc,'BUY','myBotFbcAmount')">Buy!</button>
		<button type="button" class="btn btn-success btn-xs" onclick="manualTransaction($fbc,'SELL','myBotFbcAmount')">Sell!</button>
	</div>
	<div id="fbcBotAmount" class="contentItems col-md-2 col-xs-2">0</div>
	<div id="fbcBotAction" class="contentItems col-md-2 col-xs-2">0</div>
	<div id="fbcBotPrediction" class="contentItems col-md-2 col-xs-2">0</div>
    </div> <!-- end row	 -->
   </div><!-- end coinArea -->
   
	 <!-- https://www.w3schools.com/Bootstrap/bootstrap_forms_inputs.asp -->   
<div id="manualButtonRow2" class="row" style="visibility: hidden;">

  <div class="col-md-2 col-xs-2">
      buy
      <input id = "myBotBuy" type="number" class="img-rounded col-md-12 col-xs-12" value=1>
  </div>
  <div class="col-md-1 col-xs-1">
    <div class="radio">
        <input type="radio" name="optradio" id="radioBuyAbove">above
    </div>
    <div class="radio">
      <input type="radio" name="optradio" id="radioBuyBelow">below
    </div>
  </div>
  <div class="col-md-2 col-xs-2">
      sell
      <input id = "myBotSell" type="number" class="img-rounded col-md-12 col-xs-12" value=1>
  </div>
  <div class="col-md-1 col-xs-1 ">
    <div class="radio">
        <input type="radio" name="optradio2" id="radioSellAbove">above
    </div>
    <div class="radio">
      <input type="radio" name="optradio2" id="radioSellBelow">below
    </div>
  </div>
  <div id="button" class="button col-md-1 col-xs-1">
	<button type="button" class="btn btn-primary" onclick="setMyBot()">set!</button>
 </div> <!-- end button -->
	<div id="button" class="button col-md-1 col-xs-1">
	<button type="button" class="btn btn-primary" onclick="getMyBot()">Load</button>
 </div> <!-- end button -->
  <div id="jsonArea" class="contentRows dataArea jsonArea img-rounded col-md-2 col-xs-2" contenteditable="true" onchange="getMyBot();">Javascript is disabled.</div>
  <div id="text" class="col-md-2 col-xs-2">Copy to export.<br>Paste to import.</div>
</div> <!-- end manualButtonRow -->
<br>
 
 <div id="coinArea" class="img-rounded col-md-12 col-xs-12 contentRows dataArea row">
  <div id="titleRow" class="row">
    <div id="contentLabel" class="col-md-12 col-xs-12 contentTitles">Fruitbot</div>
    </div>

  <div id="fruitbottitleRow" class="row contentLabels">
    <div id="fruitbotcoinLabel" class=" col-md-2 col-xs-2">Coin:</div>
    <div id="fruitbotvalueLabel" class=" col-md-2 col-xs-2">Value:</div>
    <div id="fruitbotmedianLabel" class=" col-md-2 col-xs-2">Median:</div>
   <div id="fruitbotbotAmountLabel" class=" col-md-2 col-xs-2">Bot Amount:</div>
    <div id="fruitbotbotActionLabel" class=" col-md-2 col-xs-2">Bot action:</div>
    <div id="fruitbotbotPredictionLabel" class=" col-md-2 col-xs-2">Bot pred:</div>
  </div>

  <div id="fruitbotbtcContentRow" class="row ">
	<div id="fruitbotbtcLabel" class="contentItems col-md-2 col-xs-2">BTC</div>
	<div id="fruitbotbtcAmount" class="contentItems amount col-md-2 col-xs-2">BTC</div>
	<div id="fruitbotbtcMedian" class="contentItems col-md-2 col-xs-2">BTC</div>
	<div id="fruitbotbtcBotAmount" class="contentItems col-md-2 col-xs-2">BTC</div>
	<div id="fruitbotbtcBotAction" class="contentItems col-md-2 col-xs-2">BTC</div>
	<div id="fruitbotbtcBotPrediction" class="contentItems col-md-2 col-xs-2">BTC</div>
  </div>

  <div id="fruitbotltcContentRow" class="row ">
	<div id="fruitbotltcLabel" class="contentItems col-md-2 col-xs-2">LTC</div>
	<div id="fruitbotltcAmount" class="contentItems amount col-md-2 col-xs-2">LTC</div>
	<div id="fruitbotltcMedian" class="contentItems col-md-2 col-xs-2">LTC</div>
	<div id="fruitbotltcBotAmount" class="contentItems col-md-2 col-xs-2">LTC</div>
	<div id="fruitbotltcBotAction" class="contentItems col-md-2 col-xs-2">LTC</div>
	<div id="fruitbotltcBotPrediction" class="contentItems col-md-2 col-xs-2">LTC</div>
  </div>

  <div id="fruitbotethContentRow" class="row ">
	<div id="fruitbotethLabel" class="contentItems col-md-2 col-xs-2">ETH</div>
	<div id="fruitbotethAmount" class="contentItems amount col-md-2 col-xs-2">ETH</div>
	<div id="fruitbotethMedian" class="contentItems col-md-2 col-xs-2">ETH</div>
	<div id="fruitbotethBotAmount" class="contentItems col-md-2 col-xs-2">ETH</div>
	<div id="fruitbotethBotAction" class="contentItems col-md-2 col-xs-2">ETH</div>
	<div id="fruitbotethBotPrediction" class="contentItems col-md-2 col-xs-2">ETH</div>
    </div> <!-- end ethContentRow -->

  <div id="fruitbotfbcContentRow" class="row ">
	<div id="fruitbotfbcLabel" class="contentItems col-md-2 col-xs-2">FBC</div>
	<div id="fruitbotfbcAmount" class="contentItems amount col-md-2 col-xs-2">FBC</div>
	<div id="fruitbotfbcMedian" class="contentItems col-md-2 col-xs-2">FBC</div>
	<div id="fruitbotfbcBotAmount" class="contentItems col-md-2 col-xs-2">FBC</div>
	<div id="fruitbotfbcBotAction" class="contentItems col-md-2 col-xs-2">FBC</div>
	<div id="fruitbotfbcBotPrediction" class="contentItems col-md-2 col-xs-2">FBC</div>
    </div> <!-- end row	 -->
   </div><!-- end coinArea -->
	
<br>
 <div id="coinArea" class="img-rounded col-md-12 col-xs-12 contentRows dataArea row">
  <div id="titleRow" class="row">
    <div id="contentLabel" class="col-md-12 col-xs-12 contentTitles">SimpleBot</div>
    </div>
	
  <div id="simplebottitleRow" class="row contentLabels">
    <div id="simplebotcoinLabel" class=" col-md-2 col-xs-2">Coin:</div>
    <div id="simplebotvalueLabel" class=" col-md-2 col-xs-2">Value:</div>
    <div id="simplebotmedianLabel" class=" col-md-2 col-xs-2">Median:</div>
   <div id="simplebotbotAmountLabel" class=" col-md-2 col-xs-2">Bot Amount:</div>
    <div id="simplebotbotActionLabel" class=" col-md-2 col-xs-2">Bot action:</div>
    <div id="simplebotbotPredictionLabel" class=" col-md-2 col-xs-2">Bot pred:</div>
  </div>

  <div id="simplebotbtcContentRow" class="row ">
	<div id="simplebotbtcLabel" class="contentItems col-md-2 col-xs-2">BTC</div>
	<div id="simplebotbtcAmount" class="contentItems amount col-md-2 col-xs-2">BTC</div>
	<div id="simplebotbtcMedian" class="contentItems col-md-2 col-xs-2">BTC</div>
	<div id="simplebotbtcBotAmount" class="contentItems col-md-2 col-xs-2">BTC</div>
	<div id="simplebotbtcBotAction" class="contentItems col-md-2 col-xs-2">BTC</div>
	<div id="simplebotbtcBotPrediction" class="contentItems col-md-2 col-xs-2">BTC</div>
  </div>

  <div id="simplebotltcContentRow" class="row ">
	<div id="simplebotltcLabel" class="contentItems col-md-2 col-xs-2">LTC</div>
	<div id="simplebotltcAmount" class="contentItems amount col-md-2 col-xs-2">LTC</div>
	<div id="simplebotltcMedian" class="contentItems col-md-2 col-xs-2">LTC</div>
	<div id="simplebotltcBotAmount" class="contentItems col-md-2 col-xs-2">LTC</div>
	<div id="simplebotltcBotAction" class="contentItems col-md-2 col-xs-2">LTC</div>
	<div id="simplebotltcBotPrediction" class="contentItems col-md-2 col-xs-2">LTC</div>
  </div>

  <div id="simplebotethContentRow" class="row ">
	<div id="simplebotethLabel" class="contentItems col-md-2 col-xs-2">ETH</div>
	<div id="simplebotethAmount" class="contentItems amount col-md-2 col-xs-2">ETH</div>
	<div id="simplebotethMedian" class="contentItems col-md-2 col-xs-2">ETH</div>
	<div id="simplebotethBotAmount" class="contentItems col-md-2 col-xs-2">ETH</div>
	<div id="simplebotethBotAction" class="contentItems col-md-2 col-xs-2">ETH</div>
	<div id="simplebotethBotPrediction" class="contentItems col-md-2 col-xs-2">ETH</div>
    </div> <!-- end ethContentRow -->

  <div id="simplebotfbcContentRow" class="row ">
	<div id="simplebotfbcLabel" class="contentItems col-md-2 col-xs-2">FBC</div>
	<div id="simplebotfbcAmount" class="contentItems amount col-md-2 col-xs-2">FBC</div>
	<div id="simplebotfbcMedian" class="contentItems col-md-2 col-xs-2">FBC</div>
	<div id="simplebotfbcBotAmount" class="contentItems col-md-2 col-xs-2">FBC</div>
	<div id="simplebotfbcBotAction" class="contentItems col-md-2 col-xs-2">FBC</div>
	<div id="simplebotfbcBotPrediction" class="contentItems col-md-2 col-xs-2">FBC</div>
    </div> <!-- end row	 -->
   </div><!-- end coinArea -->
   </div><!-- end content -->
  </div> <!-- end row -->
</div> <!-- end wrapper -->
<!-- a href="https://stackoverflow.com/questions/3393025/how-do-you-implement-a-fixed-left-sidebar-and-fluid-right-content-in-css#3393037">How do you implement a fixed left sidebar and fluid right content in CSS</a -->
<!-- 
https://www.w3schools.com/Bootstrap/bootstrap_forms_inputs.asp
https://www.w3schools.com/bootstrap/bootstrap_navbar.asp
https://stackoverflow.com/questions/16517718/bootstrap-number-validation
https://stackoverflow.com/questions/3368546/what-input-field-type-forces-the-number-pad-mobile-keyboard-to-come-up-when-focu
https://html.com/input-type-radio/
https://stackoverflow.com/questions/12084121/correct-way-to-create-rounded-corners-in-twitter-bootstrap
https://getbootstrap.com/docs/3.3/css/
https://v4-alpha.getbootstrap.com/components/buttons/
http://kimbryant.net/on-bootstraps-grid-using-display-inline-block-instead-of-floats/
https://bytes.com/topic/javascript/answers/441839-document-onload-getelementbyid-dont-cooperate
https://stackoverflow.com/questions/9476617/how-to-set-radio-button-status-with-javascript

-->
  <% include ../partials/footer.ejs %>

</body>
</html>
