<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
<link rel="stylesheet" type="text/css" href="/stylesheets/coin.css">
</head>

<body>
  <% include ../partials/nav.ejs %>
<script src="/js/coin.js" Content-Type="text/javascript" charset="UTF-8"></script>

<div id="wrapper">
  <div id="sidebar">
Coinsole Log:<br>
<textarea id="coinMainBox" value="Javascript is disabled." style="width: 261px; height: 936px;">Javascript is disabled.</textarea>
<br>
</div>
  <div id="content">Cointent</div>
<br>
BTC:  <div id="btc">BTC</div>
Bot BTC:  <div id="btcBotAmount">BTC</div>
Bot action:  <div id="btcBotAction">BTC</div>
<br>
LTC:  <div id="ltc">LTC</div>
Bot LTC:  <div id="ltcBotAmount">LTC</div>
Bot action:  <div id="ltcBotAction">LTC</div>
<br>
ETH:  <div id="eth">ETH</div>
Bot ETH:  <div id="ethBotAmount">ETH</div>
Bot action:  <div id="ethBotAction">ETH</div>
<br>
FTC:  <div id="ftc">FTC</div>
Bot FTC:  <div id="ftcBotAmount">FTC</div>
<br>
</div>


<br>
<br>
<br>
<br>
  <% include ../partials/footer.ejs %>
</body>
</html>
