<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
<script src="/js/coin.js" Content-Type="text/javascript" charset="UTF-8"></script>
<textarea id="coinMainBox" value="Javascript is disabled.">Javascript is disabled.</textarea> <br>

  <% include ../partials/footer.ejs %>
</body>
</html>
