<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
<textarea id="txtJob" cols="40" rows="5" value="software engineer"></textarea>
<script src="/js/ARKMap.js" Content-Type="text/javascript" charset="UTF-8"></script>
<div class="Map">
<h4>Map page</h4>
</div>
<h4>Website errors? Bad data? Advertising questions? <a href="mailto:ARKDataproject@gilgamech.com">Email me!</a><br>


  <% include ../partials/footer.ejs %>
</body>
</html>

