<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
<script src="/js/ARKMap.js" Content-Type="text/javascript" charset="UTF-8"></script>
<h4>Website errors? Bad data? Advertising questions? <a href="mailto:ARKDataproject@gilgamech.com">Email me!</a><br>


  <% include ../partials/footer.ejs %>
</body>
</html>

