<!DOCTYPE html>
<html lang="en">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" href="./public/favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="/js/Gilgamech.js"></script>
<script src="/js/easeljs-0.8.2.min.js"></script>
<script src="/js/dsq.js"></script>
</head>

<!--
https://superdevresources.com/draggable-shapes-canvas-createjs/
https://www.createjs.com/
https://codepen.io/anon/pen/rpMmvr

-->

<body>
</body>
</html>
