<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
<script src="/js/git.js" Content-Type="text/javascript" charset="UTF-8"></script>
  <br>
  <br>
  Git repo URL: <input type = "text" id = "gitRepoUrl" onchange="updateGitPage()"> <br>
  <br>
  File Name: <input type = "text" id = "gitFileName" onchange="updateGitPage()"> <br>

<div id="gitFileNameItem">Index.JS:</div><br>
<textarea id="gitFileTextArea" cols="400" rows="100" value="Code goes here.">Code goes here.</textarea> <br>




  <% include ../partials/footer.ejs %>
</body>
</html>
