<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
<script src="/js/git.js" Content-Type="text/javascript" charset="UTF-8"></script>
<body onload="updateGitPage();">
  <br>
  <br>
  <div style="margin: 8px; text-align: center;">
  <table>
        <tr>
		<td><div id="gitRepoUrlItem">Git repo URL:</div></td>
		<td><input type="text" id="gitRepoUrl" name="gitRepoUrl" class="resizedTextbox" value="https://raw.githubusercontent.com/Gilgamech/GilAPI/master"></td>
		<td></td>
	</tr>
	<tr>
		<td><div id="NewPageNameItem">New Page Name:</div></td>
		<td><input type = "text" id = "NewPageNameInput" name = "NewPageNameInput" class="resizedTextbox" value = "NewPageName"></td>
		<td><button onclick="updateNewPageForm()">Load from Github</button></td>
	</tr>
	<tr>
		<td><div id="IndexJSNameItem">Index.js:</div></td>
		<td><input type = "text" id = "IndexJSNameInput" name = "IndexJSNameInput" class="resizedTextbox" value = "index.js"></td>
		<td></td>
	</tr>
	<tr>
		<td colspan="3">
			<div contenteditable="true" class="div_textarea" id="IndexJSTextArea" value="Code goes here.">Code goes here.</div>
		</td>
	</tr>
	<tr>
		<td><div id="TestJSNameItem">Test.js:</div></td>
		<td><input type = "text" id = "TestJSNameInput" name = "TestJSNameInput" class="resizedTextbox" value = "test.js"></td>
		<td></td>
	</tr>
	<tr>
		<td colspan="3">
			<div contenteditable="true"class="div_textarea" id="TestJSTextArea" cols="100" rows="25" value="Code goes here."></div>
		</td>
	</tr>
	<tr>
		<td><div id="NavEJSNameItem">Nav.ejs:</div></td>
		<td><input type = "text" id = "NavEJSNameInput" name = "NavEJSNameInput" class="resizedTextbox" value = "\views\partials\nav.ejs"></td>
		<td></td>
	</tr>
	<tr>
		<td colspan="3">
			<div contenteditable="true" class="div_textarea" id="NavEJSTextArea" cols="100" rows="25" value="Code goes here."></div>
		</td>
	</tr>
	<tr>
		<td><div id="PagenameEJSNameItem">Pagename.ejs:</div></td>
		<td><input type = "text" id = "PagenameEJSNameInput" name = "PagenameEJSNameInput" class="resizedTextbox" value = "\views\pages\template.ejs"></td>
		<td></td>
	</tr>
	<tr>
		<td colspan="3">
			<div contenteditable="true" class="div_textarea" id="PagenameEJSTextArea" cols="100" rows="25" value="Code goes here."></div>
		</td>
	</tr>
	<tr>
		<td><div id="PagenameJSNameItem">Pagename.js:</div></td>
		<td><input type = "text" id = "PagenameJSNameInput" name = "PagenameJSNameInput" class="resizedTextbox" value = "Pagename.js"></td>
		<td></td>
	</tr>
	<tr>
		<td colspan="3">
			<div contenteditable="true" class="div_textarea" id="PagenameJSTextArea" cols="100" rows="25" value="Code goes here."></div>
		</td>
	</tr>
</table>
</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  New Function Statement: <br>
<p>Select your type:&nbsp;
<label><input type="radio" name="size" value="If" onchange="updateNFSForm('nfs', 'test', 'NFSJS','loadJSON(test)','if')"/> If</label>
<label><input type="radio" name="size" value="For" checked="checked" onchange="updateNFSForm('nfs', 'test', 'NFSJS','loadJSON(test)','for')" /> For</label>
<label><input type="radio" name="size" value="While" onchange="updateNFSForm('nfs', 'test', 'NFSJS','loadJSON(test)','while')"/> While</label>
</p>

Variable Name: <input type = "text" id = "NFSpageName" onchange="updateForm('newappget', 'pageName', 'IndexJS')"> <br>
Index.js: <br>
<textarea id="NFSInput" cols="100" rows="10" value="Code goes here."></textarea> <br>
<textarea id="NFSJS" cols="100" rows="15" value="Code goes here."></textarea> <br>
<br>
<br>
<br>
<table>
  <tr><td><div id="gitFileNameItem">Index.js:</div></td></tr>
	<tr>
		<td colspan="3">
			<textarea id="gitFileTextArea" cols="100" rows="25" value="Code goes here.">Code goes here.</textarea>
		</td>
	</tr>
	<tr>
		<td>Filename to Save As:</td>
		<td><input type="file" id="inputFileNameToSaveAs" onchange = "updateDownloadLink();"></td>
		<td><a href="" id="gitFilelink" download="code.txt">Download Above Code</a></td>
	</tr>
	<tr>
		<td>Select a File to Load:</td>
		<td><input type="file" id="fileToLoad"></td>
		<td><button onclick="loadFileAsText()">Load Selected File</button></td>
	</tr>
	<tr>
		<td>Load file from Github:</td>
		<td><input type = "text" id = "gitFileName" name = "gitFileName" class="resizedTextbox" value = "README.md"></td>
		<td><button onclick="updateGitPage()">Load from Github</button></td>
	</tr>
</table><br>
<br>
<br>
<br>


  <% include ../partials/footer.ejs %>
</body>
</html>
