<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
<script src="/js/jsonlint.js" Content-Type="text/javascript" charset="UTF-8"></script>
  
  <textarea id="myTextArea" cols=50 rows=10></textarea>
  <button onclick="prettyPrint()">Pretty Print</button>
  
  <% include ../partials/footer.ejs %>
</body>
</html>
