<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

    <form action="/login" method="post">
      <div>
        <label>Username:</label>
        <input type="text" name="username" />
        <br/>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" />
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
<!-- 
https://stackoverflow.com/questions/491914/pure-javascript-code-for-http-basic-authentication
http://docs.sequelizejs.com/manual/installation/getting-started.html
https://stackoverflow.com/questions/32212945/sequelize-findone-success-is-undefined#32213208
https://stackoverflow.com/questions/29026650/how-to-render-common-variables-from-app-js-to-all-routes-in-express
https://stackoverflow.com/questions/33112299/how-to-delete-cookie-on-logout-in-express-passport-js
https://github.com/expressjs/cookie-parser#cookieparsersignedcookiestr-secret
http://expressjs-book.com/index.html%3Fp=128.html
https://v4-alpha.getbootstrap.com/components/buttons/#sizes

-->

	<% include ../partials/footer.ejs %>
</body>
</html>
