<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
<script src="/js/meme.js" Content-Type="text/javascript" charset="UTF-8"></script>
MemeGen
  <table>
        <tr>
		<td><div id="memeUrlItem">Meme BG URL:</div></td>
		<td><input type="text" id="memeUrlInput" name="memeUrlInput" class="resizedTextbox" value="https://technabob.com/blog/wp-content/uploads/2014/08/picard1.jpg"></td>
		<td></td>
	</tr>
		<td><div id="topTextItem">Top Text:</div></td>
		<td><input type="text" id="topTextInput" name="topTextInput" class="resizedTextbox" value="Top Text"></td>
		<td><</td>
	</tr>
		<td><div id="BottomTextItem">Bottom Text:</div></td>
		<td><input type="text" id="BottomTextInput" name="BottomTextInput" class="resizedTextbox" value="Bottom Text"></td>
		<td><button onclick="updateMemeForm('memeUrlInput')">Create Meme!</button></td>
	</tr>
  </table>

<script src="/js/git.js" Content-Type="text/javascript" charset="UTF-8"></script>


<br>
<br>
<br>
<a href="https://stackoverflow.com/questions/1421082/how-to-add-a-border-on-html5-canvas-text#1421598">How to add a border on html5 canvas text?</a>
<br>

  <% include ../partials/footer.ejs %>
</body>
</html>
