<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <% include ../partials/header.ejs %>
<link rel="stylesheet" type="text/css" href="/stylesheets/rgb.css">
</head>

<body>
  <% include ../partials/nav.ejs %>
<script src="/js/rgb.js" Content-Type="text/javascript" charset="UTF-8"></script>

<div id="wrapper" class="container img-rounded">
  <div id="spacer" class="img-rounded col-md-3 hidden-xs"></div>
  
  <div id="content" class="img-rounded col-md-6 col-xs-12">
   <div id="coinArea" class="">
    <div id="contentLabel" class="img-rounded row contentTitles">RGB Calculator</div>
	
  <div id="htmlColorRow" class="row colorRow">
    <input style = "color:#000" id="htmlRow" class="colorRow img-rounded htmlColorRow contentRows col-md-12 col-xs-12" contenteditable = true onkeyup = "updateHeader();" value="#abcdef"></input>
  </div>

  <div id="colorRow" class="row colorRow">
    <input type="number" id="redRow" class="colorRow img-rounded redColorRow contentRows col-md-12 col-xs-12" contenteditable = true onkeyup = "updateHeader();" value=171></input>
  </div>

  <div id="colorRow" class="row colorRow">
    <input type="number" id="greenRow" class="colorRow img-rounded greenColorRow contentRows col-md-12 col-xs-12" contenteditable = true onkeyup = "updateHeader();" value=205></input>
  </div>

  <div id="colorRow" class="row colorRow">
    <input type="number" id="blueRow" class="colorRow img-rounded blueColorRow contentRows col-md-12 col-xs-12" contenteditable = true onkeyup = "updateHeader();" value=239></input>
  </div>
   </div><!-- end coinArea -->

  <% include ../partials/footer.ejs %>

</body>
</html>
