<!DOCTYPE html>
<html lang="en">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" href="./public/favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<script src="/js/Gilgamech.js"></script>
<script src="/js/rgb.js"></script>

<!-- 
https://duckduckgo.com/?q=javascript+convert+to+he&atb=v49-6&ia=qa
https://stackoverflow.com/questions/42521420/change-div-bgcolor-onkeypress
https://www.w3schools.com/jsref/prop_style_backgroundcolor.asp
https://www.easycalculation.com/colorconverter/rgb-coder.php

 -->
</body>
</html>
