<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <% include ../partials/header.ejs %>
<link rel="stylesheet" type="text/css" href="/stylesheets/rgb.css">
</head>

<body>
  <% include ../partials/nav.ejs %>
<script src="/js/rgb.js" Content-Type="text/javascript" charset="UTF-8"></script>

<div id="bodyCon"></div>
<!-- 
https://duckduckgo.com/?q=javascript+convert+to+he&atb=v49-6&ia=qa
https://stackoverflow.com/questions/42521420/change-div-bgcolor-onkeypress
https://www.w3schools.com/jsref/prop_style_backgroundcolor.asp
https://www.easycalculation.com/colorconverter/rgb-coder.php

 -->

  <% include ../partials/footer.ejs %>

</body>
</html>
