<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
<textarea id="txtJob" cols="40" rows="5" value="software engineer"></textarea>


  <% include ../partials/footer.ejs %>
</body>
</html>

