<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
<script src="/js/text2.js" Content-Type="text/javascript" charset="UTF-8"></script>

<!-- https://stackoverflow.com/questions/13987300/how-to-trigger-enter-key-press-of-textbox 
-->

Page Name: <input type = "text" id = "pageName" onchange="updateForm('newappget', 'pageName', 'IndexJS');"> <br>
Index.JS: <br>
<textarea id="IndexJS" cols="100" rows="25" value="Code goes here."></textarea> <br>

Test.JS: <br>
<textarea id="TestJS" cols="100" rows="25" value="Code goes here."></textarea> <br>

New Function Statement: <br>
<p>Select your type:&nbsp;
<label><input type="radio" name="size" value="If" onchange="updateNFSForm('nfs', 'test', 'NFSJS','loadJSON(test)','if')"/> If</label>
<label><input type="radio" name="size" value="For" checked="checked" onchange="updateNFSForm('nfs', 'test', 'NFSJS','loadJSON(test)','for')" /> For</label>
<label><input type="radio" name="size" value="While" onchange="updateNFSForm('nfs', 'test', 'NFSJS','loadJSON(test)','while')"/> While</label>
</p>

Variable Name: <input type = "text" id = "NFSpageName" onchange="updateForm('newappget', 'pageName', 'IndexJS')"> <br>
Index.JS: <br>
<div contenteditable="true" id="textCE"></div>

<br>Testing some new thing.
<form action="#">
    <input type="text" name="txt" onkeypress="handle(event)" />
</form>

<textarea id="NFSInput" cols="40" rows="10" value="Code goes here."></textarea> <br>

<textarea id="NFSJS" cols="40" rows="15" value="Code goes here."></textarea> <br>

  <% include ../partials/footer.ejs %>
</body>
</html>

