<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
<script src="/js/text2.js" Content-Type="text/javascript" charset="UTF-8"></script>

Page Name: <input type = "text" id = "pageName" onchange="updateForm('newappget', 'pageName', 'IndexJS')"> <br>
Index.JS: <br>
<textarea id="IndexJS" cols="40" rows="25" value="Code goes here."></textarea> <br>

Test.JS: <br>
<textarea id="TestJS" cols="40" rows="25" value="Code goes here."></textarea> <br>

New Function Statement: <br>
<p>Select your type:&nbsp;
<label><input type="radio" name="size" value="If" onchange="updateNFSForm('nfs', 'test', 'NFSJS','loadJSON(test)','if')"/> If</label>
<label><input type="radio" name="size" value="For" checked="checked" onchange="updateNFSForm('nfs', 'test', 'NFSJS','loadJSON(test)','for')" /> For</label>
<label><input type="radio" name="size" value="While" onchange="updateNFSForm('nfs', 'test', 'NFSJS','loadJSON(test)','while')"/> While</label>
</p>
<textarea id="NFSJS" cols="40" rows="25" value="Code goes here."></textarea> <br>

  <% include ../partials/footer.ejs %>
</body>
</html>

