<!DOCTYPE html>
<html>
<head>
  <% include ../partials/webheader.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
<script src="/js/chat.js" Content-Type="text/javascript" charset="UTF-8"></script>
  <br>
  <br>
  Chat Room: <input type = "text" id = "chatRoom" value="General"> <br>
  
<div id="chatRoomName">All</div> Chat<br>
  <textarea id="chatMainBox" cols="100" rows="25" value="Javascript is disabled.">Javascript is disabled.</textarea> <br>
</div>
<form action="updateChat();" method="post">
	<input type = "text" id = "chatUser" value="User">
	<input type = "text" id = "chatMessage" value="Hello World!"> 
	<input type="chatSendButton" value="send"/>
</form>


  <% include ../partials/footer.ejs %>
</body>
</html>
