<!DOCTYPE html>
<html>
<head>
  <% include ../partials/webheader.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
<script src="/js/chat.js" Content-Type="text/javascript" charset="UTF-8"></script>
  <br>
  <br>
Chat Room: <input type = "text" id = "chatRoom" value="General"> <br>

 <div id="chatRoomName">All</div> Chat<br>
  <textarea id="chatMainBox" value="Javascript is disabled."  >Javascript is disabled.</textarea> <br>
</div>
<input type = "text" id = "chatUser" value="User">
<input type = "text" id = "chatMessage" value="Hello World!"> 
<input id="chatSendButton" type="button" value="send" onclick="updateChat();" /> <br>


  <% include ../partials/footer.ejs %>
</body>
</html>
