<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
<script src="/js/jsonlint.js" Content-Type="text/javascript" charset="UTF-8"></script>
  <br />
  <textarea id="myTextArea"  cols="100" rows="25"></textarea>
  <button onclick="prettyPrint()">Pretty Print</button>
  <br />
  <br />
  <a href="https://stackoverflow.com/questions/26320525/prettify-json-data-in-textarea-input#26324037">Stack Overflow - prettify json data in textarea input</a>
  <% include ../partials/footer.ejs %>
</body>
</html>
