<!DOCTYPE html>
<html>
<head>
  <% include ../partials/webheader.ejs %>
    <script src="/js/port.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div id="fruitbottext">
	<table id="fruittable" border="1">
		 <tr>
			 <td>wins</td>
			 <td>losses</td>
			 <td>ties</td>
		 </tr>
		 <tr>
			 <td id="wins">0</td>
			 <td id="losses">0</td>
			 <td id="ties">0</td>
		 </tr>
	 </table> 
</div>


  <% include ../partials/footer.ejs %>
</body>
</html>
