<!DOCTYPE html>
<html>
<head>
  <% include ../partials/webheader.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
<script src="/js/template.js" Content-Type="text/javascript" charset="UTF-8"></script>



  <% include ../partials/footer.ejs %>
</body>
</html>
