<!DOCTYPE html>
<html>
<head>
  <% include ../partials/mobileheader.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
Mobile Signup
    <form action="/signup" method="post">
      <div>
        <label>Email:</label>
        <input type="text" name="userEmail" />
        <br/>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" />
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>


  <% include ../partials/footer.ejs %>
</body>
</html>
